In [ ]:
print("Hello world")

# Variables
A variable is a container for the value it stores.

A variable fundamentally has to have 3 characteristics:
1. Name
2. Content
3. Address in memory

The content of a variable can be changed...which is why it's called a ***VARIABLE***.

```
name = content
```

##String

Strings are *strings* of characters enclosed in quotes. Everything that is in quotes is the literal value of the string.

Strings are typically letters and symbols but can technically be anything enclosed in quotes.

In [ ]:
name = "Bob"
age = "5"
print(type(name))
print(type(age))

print("The name is " + name)
print(name + " is "+ age + " years old")

name = "Bobette" #changing the variable name to equal "Bobette"
print("The name is " + name)

## Integer

Integers are whole numbers.

In [ ]:
num_1 = 8
num_2 = 9

print(type(num_1))
print(num_1 + num_2)

## Float

Floats are decimal values.

In [ ]:
pi = 3.141592653698793

print(type(pi))
print(pi)

## Boolean

Booleans are simply true or false values.

In [ ]:
the_truth = True
the_lie = False

print(type(the_truth))
print(the_truth)

## Multiple Assignments

You can also assign multiple variables values at the same time.

In [ ]:
name, age, height, is_short = "Jim", 15, 59.5, False

length = width = 5

**Exercise 1:**
Create five different variables:
*  Name
*  Age
*  Favorite Activity
*  Centimeters In a Foot
*  Older than 15 (true/false value)

# String Concatenation

String concatenation is the process of putting strings together.

In [ ]:
season = "Fall"

print("It's " + season)

But what if you try to concatenate something that isn't a string with a string?

In [ ]:
# this will result in an error

age = 3
print("I am " + age + " years old")

To fix this we do something called:
## Casting

When you cast a variable to another type, you aren't actually changing the type of the variable permanently, you are just changing it for that specific instance you needed to use it.

The shortcuts to cast to each variable types are:

```
a_string = str(not_string)
a_integer = int(not_integer)
a_boolean = bool(not_boolean)
a_float = float(not_float)
```

In [ ]:
# this will work now

print("I am " + str(age) + " years old")

my name = "Diya" # this would result in an error
my_name = ""

But, you can also put together strings with commas. This is fundamentally different from concatenating with ```+``` because the plus sign creates a new string in memory where the literal values of the two strings are put together. Commas however, add a space before and after the string. You also don't have to cast alternate data types to a string when using commas.

In [ ]:
print("I am", age, "years old")

### Casting rules:

* String
 * Any type can be cast to a string
* Integer
 * All floats can be cast to integers
 * Some strings can be cast to integers (i.e. if the string contains a value that IS an integer)
* Float
 * All integers can be cast to floats
 * Some strings can be cast to integers (i.e. if the the string contains a value that IS a float

**Exercise 2:**
Print out your variables in this format

1. My name is ____________.
2. I am _____ years old.
3. My favorite activity: _______
4. 1 Foot = ____ centimeters
5. I am older than 15: ________



---
# Mad Libs:
Write a Mad Libs game! Write a short story and have the user input some values to finish the story.

**HINT:**


```
words = input("This will print this message and save the users' input in the variable "words" )
```
---

# Math Operators

You can use addition (```+```), subtraction (```-```), division (```/```), multiplication (```*```), and modulus (```%```) operators in Python.

The modulus operator returns the remainder of a division problem.

e.g.
```
print(20 % 3)
# this will print 2 because 20 / 3 has a remainder of 2
```

## Mixed Operators
You can also combine some of the operators.

* +=
 * **Add** something by a certain number and set the original value to the new number.
* -=
 * **Subtract** something by a certain number and set the original value to the new number.
* *=
 * **Multiply** something by a certain number and set the original value to the new number.
* /=
 * **Divide** something by a certain number and set the original value to the new number.

In [ ]:
# +=
x = 10
x += 2
print(x) # 12

#-=
y = 10
y -= 2
print(y) # 8

# *=
z = 10
z *= 2
print(z) # 20

# /=
a = 10
a /= 2
print(a) # 5

---
# Multiplication Calculator

Make a calculator that takes two inputted numbers from the user, multiplies them, then prints out the product.


---