# Pandas
Pandas is a Python library that's very helpful in working with datasets. It can help clean and analyze data.

First, we'll start by importing Pandas. Pandas is usually imported as "pd" so whenever we want to reference Pandas later, we can simply use pd.

"pd" is just a name though, you could very well import Pandas as lollipop ¯\\\_(ツ)\_/¯

In [ ]:
import pandas as pd

## Series
A Pandas Series is a one-dimensional array that can hold any data-type.

In [ ]:
a = [1, "Toe", True, 3.2] # this is a list

series_a = pd.Series(a)

print(series_a)
print (a)

Notice, when we run this, the indices are printed before the data. We can change these "indices" to be whatever we want them to be.

In [ ]:
series_a = pd.Series(a, index = [4, 3, 2, 1])

print(series_a)

### Dictionaries

In [ ]:
arbitrary_dictionary =  {
    "Cheese" : "the curd of milk separated from the whey and prepared in many ways as a food",
    "Pig" : "any wild or domestic swine in the genus Sus, within the family Suidae",
    "Blue" : "the primary color between green and violet in the visible spectrum, an effect of light with a wavelength between 450 and 500 nanometers."
}

Since a Series has a value and a label associated with that value, it is a lot like a dictionary. We can use a dictionary to make a Series.

In [ ]:
phonebook = {
    "Bobette" : 8489325382,
    "Jeffette" : 9082223651,
    "Robette" : 5168370828
}

phonebook_series = pd.Series(phonebook)

print(phonebook_series)

## DataFrames
A DataFrame in Pandas is a multi-dimensional table.

In [ ]:
theme = {
    "Colors" : ["Green", "Blue", "Red"],
    "Fonts" : ["Times New Roman", "Poppins", "Happy Monkey"]
} # this is a dictionary

theme_df = pd.DataFrame(theme)

cols3 = theme_df[theme_df['Colors'].isin(["Green"])]

#print(cols3)
print(theme_df)

If we were to attempt to create a Series from our dictionary, it ***would*** work but each index would just be associated with the entire list of values, rather than with each other.

In [ ]:
theme_series = pd.Series(theme)

print(theme_series)

Ok, so let's try something with DataFrames. Download [this](https://www.kaggle.com/datasets/micheldc55/social-network-ads) dataset.

In [ ]:
df = pd.read_csv('/content/Social_Network_Ads.csv')
print(df)

## DataFrame Operations
So now we have a DataFrame. Let's do things with it!

In [ ]:
sorted(df)

To get some of the columns as a seperate DataFrame we can do:

In [ ]:
cols = df[['EstimatedSalary', 'Purchased']]

# if we wanted to get some of the columns are Series instead of DataFrames we could do
# cols = df['EstimatedSalary', 'Purchased']

col2 = df[['EstimatedSalary'] > 20000]

cols3 = df[df['Gender'].isin(["Female"])]

print(cols3)

print(cols)

To get the first few rows of a DataFrame we can do:

In [ ]:
df.head()

In [ ]:
df.head(2)

In [ ]:
df.tail()

In [ ]:
uploaded = files.upload()

police = pd.read_csv()

Alternately, if we just wanted to drop some columns from the original DataFrame we can do:

In [ ]:
df = df.drop(['User ID'], axis = 1)

Some things to notice here, the column we want to drop is enclosed in square brackets which means we are essentially asking Pandas to drop the Series which is titled "User ID".

The axis refers to the dimension we are searching for "User ID". ```axis = 0``` refers to the horizontal dimension or the rows and ```axis = 1``` refers to the vertical dimension or columns.

To replace values, we can do:

In [ ]:
df = df.replace({"Male" : 0, "Female" : 1})